# Terraform
#
github/.terraform/
github/*/*.tfvars

gitlab/.terraform/
gitlab/*.tfvars

github/foo/.terraform
github/foo/*.tfstate
github/foo/*.tfstate.backup

github/zeiot/.terraform
github/zeiot/*.tfstate
github/zeiot/*.tfstate.backup

github/pilotariak/.terraform
github/pilotariak/*.tfstate
github/pilotariak/*.tfstate.backup

# Editors
.vscode
*~

