# Terraform
#
github/.terraform/
github/*/*.tfvars

gitlab/.terraform/
gitlab/*.tfvars

github/foo/.terraform
github/foo/*.tfstate
github/foo/*.tfstate.backup

github/zeiot/.terraform
github/zeiot/*.tfstate
github/zeiot/*.tfstate.backup

github/pilotariak/.terraform
github/pilotariak/*.tfstate
github/pilotariak/*.tfstate.backup

gitlab/foo/.terraform
gitlab/foo/*.tfstate
gitlab/foo/*.tfstate.backup

gitlab/zeiot/.terraform
gitlab/zeiot/*.tfstate
gitlab/zeiot/*.tfstate.backup

gcalendar/foo/.terraform
gcalendar/foo/*.tfstate
gcalendar/foo/*.tfstate.backup

updown/foo/.terraform
updown/foo/*.tfstate
updown/foo/*.tfstate.backup

updown/personal

uptimerobot/foo/.terraform
uptimerobot/foo/*.tfstate
uptimerobot/foo/*.tfstate.backup

uptimerobot/personal

# Editors
.vscode
*~

